<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>Houve um pedido de troca de senha vindo da sua conta!</p>
  <p>Se o pedido foi feito por você, clique no link abaixo:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi, apenas ignore este email.</p>
  <p>
    <strong>Equipe Back-end.</strong>
  </p>
</div>